
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: inline-flex;
}

.menu-box {
    border: 2px solid black;
    background-color: lightblue;
    color: black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.menu-box-title 
{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background-color: green;
    color: white;
    width: 100px;
    float: right;
    margin-top: -5px;
    margin-right: -5px;
    text-align: center;
    font-size: 20px;
    
}

.menu-box-text
{
    clear: both;
    margin-top: 60px;
}