
body {
    box-sizing: border-box;
}

.row {
    display: inline-flex;
}

.menu-box {
    border: 1px solid black;
    background-color: lightblue;
    color: black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.menu-box-title 
{
    border: 1px solid black; 
    background-color: green;
    color: white;
    position: absolute;
    
}